* {
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    color: #fff;
    font-family: Lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-rendering: optimizeLegibility
}

p {
    font-family: montserrat, sans-serif
}

h3,
h4 {
    margin-right: 0
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    backface-visibility: hidden;
}

.row2 {
    max-width: 768px;
    margin: 0 auto
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

/*********************************/
/***** HEADER *********/
/*********************************/
header {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 54, 54, .86)), to(rgba(14, 43, 79, .65))), url(images/background/background-1.jpg);
    background: linear-gradient(rgba(50, 54, 54, .86), rgba(14, 43, 79, .65)), url(images/background/background-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

h1 {
    font-family: 'Lily Script One', Lato, sans-serif
}

.sidenav {
    height: 100vh;
    width: 90px;
    position: fixed;
    z-index: 99999999999;
    top: 12%;
    left: 0;
    padding: 30px 30px;
    overflow-x: hidden;
    overflow-y: hidden
}

.sidenav a:link,
.sidenav a:visited {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block
}

.sidenav i {
    margin: 15px 0;
    font-size: 120%;
    color: #e3e7f1
}

.v-line {
    margin-left: 10px;
    border-left: 4px solid transparent;
    -o-border-image: linear-gradient(to bottom right, #b827fc 10%, #2c90fc 15%, #b8fd33 25%, #fec837 25%, #fd1892 65%);
    border-image: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #b827fc), color-stop(15%, #2c90fc), color-stop(25%, #b8fd33), color-stop(25%, #fec837), color-stop(65%, #fd1892));
    border-image: linear-gradient(to bottom right, #b827fc 10%, #2c90fc 15%, #b8fd33 25%, #fec837 25%, #fd1892 65%);
    border-image-slice: 1
}

.v-line1 {
    height: 200px;
    margin-bottom: 10px
}

.v-line2 {
    height: 150px;
    margin-top: 10px
}

.sidenav i {
    -webkit-transition: .2s;
    transition: .2s
}

.linkedin i:hover {
    color: #0077b5;
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
}

.github i:hover {
    color: #999;
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
}

.google-plus i:hover {
    color: #dd4b39;
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
}

.facebook i:hover {
    color: #3b5999;
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
}

.my-logo {
    height: 80px;
    width: auto;
    margin-top: 18px;
    margin-bottom: 10px;
    float: left;
    opacity: .8;
    -webkit-transition: .2s;
    transition: .2s
}

.my-logo:hover {
    opacity: 1
}

.main-nav {
    list-style: none;
    float: right;
    word-spacing: 3px;
    margin-top: 40px
}

.main-nav li {
    display: inline-block;
    margin-left: 40px
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    -webkit-transition: .3s;
    transition: .3s;
    border-bottom: 4px solid transparent
}

.main-nav li a:active,
.main-nav li a:hover {
    color: #ccc;
    padding-bottom: 10px;
    border-bottom: 2px solid #8186d5
}

.mobile-nav-icon {
    float: right;
    margin-top: 20px;
    cursor: pointer;
    display: none
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff
}
.icon-padding{
    padding-right : 5px;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 54, 54)), to(rgba(14, 43, 79)));
    background: linear-gradient(rgba(50, 54, 54), rgba(14, 43, 79))
}

.sticky .main-nav {
    word-spacing: 3px;
    margin-top: 20px
}

.sticky .my-logo {
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px
}

.intro-first {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #d2d2d2;
    font-size: 160%;
    line-height: 220%;
    letter-spacing: 8px;
    word-spacing: 3px;
    backface-visibility: hidden;
}

.intro-first h1 {
    color: #ececec
}

.text-1{
    animation: moveInBottom 1s ease-out; 
}
.text-2{
    animation: moveInBottom 1s ease-out 0.5s;
    animation-fill-mode: backwards;
}
.text-3{
    animation: moveInBottom 1s ease-out 1s;
    animation-fill-mode: backwards;
}

/*********************************/
/****** ABOUT ME *********/
/*********************************/

.about-me {
    
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 14, 14, .86)), to(rgba(12, 6, 78, .78))), url(images/background/background-2.jpg);
    background: linear-gradient(rgba(14, 14, 14, .86), rgba(12, 6, 78, .78)), url(images/background/background-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px 0
}

.about-me h2 {
    text-align: center;
    font-size: 200%;
    margin-top: 20px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    color: #32e2ec
}

.about-me-1 {
    width: 75%;
    display: inline-block;
    float: left;
    opacity: 0;
}

.about-me-2 {
    width: 25%;
    display: inline-block;
    float: right;
    position: relative;
    opacity: 0;
}

.about-me-para {
    font-size: 100%;
    margin: 25px 30px;
    letter-spacing: 2px;
    line-height: 160%;
    color: #ddd
}

.profile-pic {
    height: 180px;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 5px solid transparent
}

.profile-pic:hover {
    border-radius: 0;
    overflow: hidden;
    -o-border-image: linear-gradient(to bottom right, #b827fc 0, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image: -webkit-gradient(linear, left top, right bottom, from(#b827fc), color-stop(25%, #2c90fc), color-stop(50%, #b8fd33), color-stop(75%, #fec837), to(#fd1892));
    border-image: linear-gradient(to bottom right, #b827fc 0, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    cursor: pointer;
    border-image-slice: 1
}

.inner-box {
    width: 100%;
    overflow: hidden;
    opacity: 0;
}

.border {
    width: 80%;
    height: 2px;
    background: #8b8c9f;
    margin: 15px auto
}

.about-me-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.about-me-box {
    width: 30%;
    padding: 10px;
    color: #ddd;
    cursor: pointer;
    text-align: center
}

.rainbow-box {
    border: 5px solid transparent;
    -o-border-image: linear-gradient(to bottom right, #b827fc 0, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image: -webkit-gradient(linear, left top, right bottom, from(#b827fc), color-stop(25%, #2c90fc), color-stop(50%, #b8fd33), color-stop(75%, #fec837), to(#fd1892));
    border-image: linear-gradient(to bottom right, #b827fc 0, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 80px;
    margin: 15px auto 30px auto;
    width: 80px;
    -webkit-transition: .3s linear;
    transition: .3s linear
}

.box-bottom,
.box-top {
    padding-bottom: 20px;
    font-size: 120%;
    word-spacing: 6px;
    font-weight: bolder;
    color: #82ccdd
}

.rainbow-box i {
    line-height: 70px;
    font-size: 150%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.about-me-box:hover .rainbow-box {
    background: rgba(130, 204, 221, .85);
    color: #1a1919
}


/*********************************/
/***** SKILLS *********/
/*********************************/

.section-skills {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 14, 97, .91)), to(rgba(111, 17, 38, .92)));
    background: linear-gradient(rgba(38, 14, 97, .91), rgba(111, 17, 38, .92));
    background-size: cover;
    background-position: center;
    padding-top: 25px;
    padding-bottom: 100px
}

.section-skills h2 {
    padding-bottom: 20px;
    text-align: center;
    color: #32e2ec;
    margin: 25px 0;
    font-size: 200%;
    letter-spacing: 3px
}
.animate-skill{
    opacity: 0;
}
.skills-showcase {
    margin: 0 auto;
    list-style: none;
    width: 90%
}

.skills-showcase li {
    display: block;
    float: left;
    width: 25%
}

.skills-photo {
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden
}

.skills-photo img {
    opacity: .5;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s
}

.skills-photo img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1
}

/*********************************/
/***** ACHIEVEMENTS *********/
/*********************************/

.section-achievements {
    padding: 50px 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 70, 70, .9)), to(rgba(0, 0, 0, .9))), url(images/background/background-9.jpeg);
    background: linear-gradient(rgba(35, 70, 70, .9), rgba(0, 0, 0, .9)), url(images/background/background-9.jpeg);
    background-size: cover;
    background-attachment: fixed
}

.section-achievements h2 {
    text-align: center;
    font-size: 180%;
    letter-spacing: 3px;
    color: #32e2ec
}

.achieve-1 {
    display: inline-block;
    float: left;
    width: 75%;
    padding-left: 6%;
    word-spacing: 5px;
    line-height: 30px;
    opacity: 0;
}

.achieve-1 a:link,
.achieve-1 a:visited {
    padding-left: 20px;
    text-decoration: none;
    font-size: 100%;
    color: #d6be2b
}

.wrapper {
    display: inline-block;
    text-align: left
}

.achieve-table {
    width: 100%;
    line-height: 40px;
    color: #fff;
    margin-top: 30px;
    text-align: center
}

.achieve-table thead {
    color: #99eb08;
    font-weight: 700
}

.my-table {
    padding-top: 40px;
    width: 90%
}

.achieve-2 {
    display: inline-block;
    width: 15%;
    float: right
}

.achieve-2 ul {
    list-style: none
}

.achieve-2 li {
    margin: 20px 0
}

.achieve-2 img {
    width: 60px;
    border-radius: 20%;
    opacity: .7;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    overflow: hidden
}

.achieve-2 img:hover {
    opacity: 1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

/*********************************/
/***** CONACT-ME *********/
/*********************************/

.section-contact {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 66, 101, .9)), to(rgba(28, 34, 27, .81)));
    background: linear-gradient(rgba(40, 66, 101, .9), rgba(28, 34, 27, .81));
   
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding: 50px 0;
    
}

.contact-me {
    width: 70%;
    display: inline-block;
    text-align: left
}

.contact-me h2 {
    color: #32e2ec;
    text-align: center;
    padding-bottom: 50px;
    font-size: 200%;
    letter-spacing: 4px
}

.contact-me p {
    word-spacing: 2px;
    line-height: 30px;
    text-align: justify
}

.wrapper2 {
    text-align: center;
}

.play {
    padding-top: 50px;
    padding-bottom: 10px;
    
}

.btn {
    position: relative;
    font-family: Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    border: 2px solid #e91f52;
    padding: 15px 35px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before{
    background: #2b0505;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn-1::before{
    width: 0;
    height: 100%;
}
.btn-1:hover::before{
    width: 100%;
}
/*********************************/
/***** FOOTER *********/
/*********************************/
footer {
    background: #24251f
}

.my-footer h5 {
    text-align: center;
    font-weight: 300;
    word-spacing: 4px;
    padding: 50px 0
}

.footer-socials {
    padding-top: 20px;
    display: none
}

.footer-socials ul {
    list-style: none;
    text-align: center
}

.footer-socials li {
    display: inline-block;
    padding-right: 50px
}

.footer-socials i {
    color: #fff;
    font-size: 140%;
    -webkit-transition: .2s;
    transition: .2s
}

/**********Animation class********/

.animate-left{
    animation: moveInLeft 1s ease-out;
    opacity: 1;
}

.animate-right {
    animation: moveInRight 1s ease-out;
    opacity: 1;
}
.animate-bottom {
    animation: moveInBottom 1s ease-out 0.5s;
    opacity: 1;
    animation-fill-mode: backwards;
}
.animate-bottom2 {
    animation: moveInBottom 1s ease-out;
    opacity: 1;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translatex(-80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}